.tooltips {
      position: absolute;
      top: -39px;
      left: 90%;
      width: 40px;
      height: 34px;
      line-height: 25px;
      padding: 2px;
      font-size: 13px;
      text-align: center;
      color: rgb(255, 255, 255);
      background-position: 0;
      background-repeat: no-repeat;
      background-image: url(../images/tip.png);
      text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}

.tarea {
      position: absolute;
      top: -32px;
      left: 87%;
      width: 95px;
      height: 23px;
      line-height: 18px;
      padding: 2px;
      font-size: 13px;
      text-align: center;
      color: rgb(56, 56, 56);
      background-position: 0;
      background-repeat: no-repeat;
      background-image: url(../images/t-area.png);
      font-weight: bold;
}

.bar { 
    height: 30px;
    position: relative;
    border-radius: 2px;
    background: none repeat scroll 0 0 #ddd;
    padding:0px;
}
    
.bar > span {
	height:100%; 
	position:absolute;
	font-size: 14px;
	color:#fff;
	font-weight:bold;
	margin: 0 auto;
        border-radius: 2px;
	background-color: #018fff;
        -moz-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.3) inset;
        -webkit-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.3) inset;
        box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.3) inset;
}

.sunny > span { 
	background-color: #edb033;
}
		
.orange > span { 
	background-color: #dd4b32;
}

.highlight > span {
	background-color: #dd555f;
}

.dark > span {
	background-color: #3c3c3c;
}

.pink > span {
	background-color: #de5aa7;
}

.purple > span {
	background-color: #8b6ed6;
}

.mint > span {
	background-color: #2ec49f;
}

.green > span {
	background-color: #86be48;
}
		
		
/* Only Phones */
@media (max-width: 767px) {
}